
@{
    ViewBag.Title = "Education";
}

<h2>School : Anjuman Govt High School </h2>
<h2>College : Netrakona Govt College </h2>
<h2>University : American International University-Bangladesh </h2>
<h3> SSC : 4.89 </h3>
<h3> SSC : 4.25 </h3>
<h3> Undergraduate : 3.01 </h3>


