
@{
    ViewBag.Title = "Personal";
}

<h2>Adress : </h2>

<br>
<h3>Personal Details:</h3>
   Address: Uttara, Rajlokki, sector-3 ,Dhaka
<br>
    Phone: 01770185146
<br>
     Date of birth: 26 September 1999
<br>
<h3>Skills :</h3>

<ul>
    <li>
        Solve more than 800 problems in Codeforces
    </li>
    <li> Basic knowledge in Algorithm , Data structure and Time Complexity </li>
    <li> Good knowledge of  .Net, Java,C, C++, Object Oriented Programming </li>
    <li> Good at both Speaking and writing in English</li>
</ul>
<br>

